/*
Colours used:
Primary Colour (Dark Grey): 33,33,33
Primary Colour (Light Purple): 164, 157, 146
Secondary Colour (Light Grey): 236, 236, 236
Secondary Colour (White): 252, 253, 249
Secondary Colour (Purple): 56, 27, 38
*/
html {
    font-size: 62.5%;
}
body {
    background-color: rgb(252, 253, 249);
    font-family: 'Figtree', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.6; 
    color: rgb(33, 33, 33);
}
h1, h2, h3, h4 {
    line-height: 1.2;
    margin: 0;
}
h1 {
    font-size: 5rem;
    font-weight: 700;
}
h2 {
    font-size: 4rem;
    font-weight: 700;
}
h3 {
    font-size: 3rem;
    font-weight: 400;
}
img {
    width: 100%;
}
a {
    color: rgb(56, 27, 38);
}
a:visited {
    color: rgb(56, 27, 38);
}
a:hover,
a:focus {
    color: rgb(164, 157, 146);
}
a:active {
    color: rgb(164, 157, 146);
}
.btn {
    display: inline-block;
    background-color: rgb(56, 27, 38);
    color: rgb(252, 253, 249);
    font-weight: 400;
    padding: 12px 24px;
    border-radius: 3px;
    transition: 0.2s opacity;
    text-decoration: none;
    line-height: 1;
}
.btn:visited {
    color: rgb(252, 253, 249);
}
.btn:hover,
.btn:focus,
.btn:active {
    opacity: 0.8;
}
/* =======================================
Layout styling 
==========================================*/
.container {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
section {
    padding-block: 2em;
}
* {
    box-sizing: border-box;
}
.project-card__content-wrapper {
    margin: 25px 0;
}
.logo {
    text-decoration: none;
}
header {
    background-color: rgb(164, 157, 146);
    padding: 0.67em 0;
    position: fixed;
    width: 100%;
}
header .container {
    align-items: center;
    gap: 0.5em;
}
nav {
    
}
nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1em;
}
nav > ul > li {
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(33, 33, 33);
}
main {
    padding-block-start: 90.7px;
}
.hero {
    background-color: rgb(164, 157, 146);
}
.hero h1 {
    
}
.hero h1 span {
    display: block;
    font-size: 60%;
    font-weight: 500;
}